/* the asterisk below is a universal selector - meaning it will modify everything on the page unless specified otherwise */
* {
    margin: 0px;
    padding: 0px;
    line-height: 1.25;
    outline: 2px solid red;
    box-sizing: border-box;
}
/* the declarations below will change the font-family for the entire page unless specified otherwise */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* the below is modifying all p element background-colors */
p {
    background-color: aquamarine;
}

/* the below is modifying the element that has a class attribute of test-p1 */
/* if this attribute is in a p element, then it will overwrite the css for the p element above */
.test-p1, .test-p2 {
    background-color: crimson;
    color: white;
}

/* the below is modifying the element that has a id attribute of master-p */
/* if this id attribute is in a p element, then it will overwrite the cass for the p element above */
#master-p {
    background-color: brown;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.header6 {
    color: lightblue;
    background-color: beige;
}

h6, .header7 {
    font-size: 24px;
    color: red;
}

.header7 {
    color: blue;
    background-color: bisque;
}

.box1 {
    width: 200px;
    height: 300px;
    background-color: black;
    border: 10px solid orange;
    padding: 15px;
    margin: 50px;
    display: inline;
}

div p {
    text-align: center;
}

.box2 {
    width: 200px;
    height: 300px;
    background-color: blue;
}